<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->


 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   {% load staticfiles %}
   <meta charset="utf-8" />
   <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
   <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <title>
     Resultados
   </title>
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
   <!--     Fonts and icons     -->
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
   <!-- CSS Files -->
   <link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
   <!-- CSS Just for demo purpose, don't include it in your project -->
   <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
 </head>
 
 <body class="profile-page sidebar-collapse">
   <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
     <div class="container">
       <div class="navbar-translate">
         <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
           Datos Extraidos </a>
     </div>
   </nav>
   <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/city-profile.jpg' %}');"></div>
   <div class="main main-raised">
     <div class="profile-content">
       <div class="container">
         <div class="row">
           <div class="col-md-6 ml-auto mr-auto">
             <div class="profile">
               <div class="avatar">
                 <img src="https://seeklogo.com/images/T/Tigo-logo-BDF99BD6CC-seeklogo.com.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
               </div>
               <div class="name">
                 <h3 class="title">{{ names }} {{ surnames }}</h3>
                 <h6>{{ country }}</h6>
               </div>
             </div>
           </div>
         </div>
         <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Dato</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Nombres</td>
                <td>{{ names }}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Apellidos</td>
                <td>{{ surname }}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Numero</td>
                <td>{{ number }}</td>
              </tr>
              <tr>
                  <th scope="row">4</th>
                  <td>Nacionalidad</td>
                  <td>{{ country }}</td>
              </tr>
              <tr>
                  <th scope="row">5</th>
                  <td>Sexo</td>
                  <td>{{ sex }}</td>
              </tr>
              <tr>
                  <th scope="row">6</th>
                  <td>Fecha de Nacimiento</td>
                  <td>{{ date_of_birth }}</td>
              </tr>
              <tr>
                  <th scope="row">7</th>
                  <td>Fecha de Vencimiento</td>
                  <td>{{ expiration_date }}</td>
              </tr>
            </tbody>
          </table>
         <div class="row">
           <div class="col-md-6 ml-auto mr-auto">
             <div class="profile-tabs">
               <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                 <li class="nav-item">
                   <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                     <i class="material-icons">camera</i> Fotos
                   </a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
         <div class="tab-content tab-space">
           <div class="tab-pane active text-center gallery" id="studio">
             <div class="row">
               <div class="col-md-3 ml-auto">
                 <img src="{% static 'img/examples/studio-1.jpg' %}" class="rounded">
               </div>
               <div class="col-md-3 mr-auto">
                 <img src="{% static 'img/examples/studio-4.jpg' %}" class="rounded">
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <footer class="footer footer-default">
     <div class="container">
       <nav class="float-left">
         <ul>
           <li>
             <a href="https://www.creative-tim.com">
               Creative Tim
             </a>
           </li>
           <li>
             <a href="https://creative-tim.com/presentation">
               About Us
             </a>
           </li>
           <li>
             <a href="http://blog.creative-tim.com">
               Blog
             </a>
           </li>
           <li>
             <a href="https://www.creative-tim.com/license">
               Licenses
             </a>
           </li>
         </ul>
       </nav>
       <div class="copyright float-right">
         &copy;
         <script>
           document.write(new Date().getFullYear())
         </script>, made with <i class="material-icons">favorite</i> by
         <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
       </div>
     </div>
   </footer>
   <!--   Core JS Files   -->
   <script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/plugins/moment.min.js' %}"></script>
   <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
   <script src="{% static 'js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
   <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
   <script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
   <!--  Google Maps Plugin    -->
   <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
   <script src="{% static 'js/material-kit.js' %}" type="text/javascript"></script>
 </body>
 
 </html>
 